/* css reset */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

/* set css variables */
:root {
  --typography: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  --color-primary: #040406;
  --color-secondary: #575a89;
  --bg-primary: #f9f9f9;
  --bg-secondary: #6c63ff;
}

body {
  font-family: var(--typography);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-primary);
  color: var(--color-primary);
}

h1 {
  font-size: 2rem;
  padding: 0.25em;
}

h2 {
  font-size: 1.8rem;
}

p {
  font-size: 1rem;
  padding: 0.125em;
}

.container {
  max-width: 550px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 1em;
  display: grid;
}

.landing {
  align-self: center;
}

.content-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-img > img {
  width: 100%;
  max-width: 250px;
}

.content-msg {
  text-align: center;
}

.content-action > button {
  padding: 0.85em;
  margin: 0.75em 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
}

.btn {
  padding: 0.5rem;
  font-size: 1em;
  border: none;
  border-radius: 0.25em;
}

.btn-primary {
  background-color: var(--bg-secondary);
  color: var(--color-primary);
}

.status-text {
  text-align: center;
  font-weight: 600;
  padding: 1em;
  color: var(--color-secondary);
}

.skip {
  color: currentColor;
  display: flex;
  justify-content: flex-end;
}

.manual-selection {
  margin-top: 1em;
}

.manual-selection > label {
  display: flex;
  justify-content: center;
}

.select {
  display: block;
  font-size: 1em;
  padding: 0.85em;
  width: 100%;
  margin: 0.25em 0;
  border: none;
  border-radius: 0.25em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--bg-primary);
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.select-css::-ms-expand {
  display: none;
}

/* Hover style */
.select-css:hover {
  border-color: var(--bg-secondary);
}

/* Focus style */
.select-css:focus {
  border-color: var(--bg-primary);
  box-shadow: 0 0 1px 3px var(--bg-secondary);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: var(--color-primary);
  outline: none;
}
