/* css reset */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

/* set css variables */
:root {
  --typography: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  --color-primary: #040406;
  --color-secondary: #575a89;
  --bg-primary: #f9f9f9;
  --bg-secondary: #6c63ff;
}

body {
  font-family: var(--typography);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-primary);
  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
p {
  margin: 0.5em 0;
}

h1 {
  font-size: 2rem;
  padding: 0.25em;
}

h2 {
  font-size: 1.8rem;
}

p {
  font-size: 1rem;
  padding: 0.125em;
}

.container {
  max-width: 550px;
  margin: 0 auto;
  padding: 0 1em;
}

.landing {
  display: grid;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

.header {
  padding: 1em;
}

.content-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-img > img {
  width: 100%;
  max-width: 250px;
}

.content-msg {
  text-align: center;
}

.content-action > button {
  padding: 0.85em;
  margin: 0.75em 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
}

.content.restaurant {
  display: grid;
  grid-template-columns: 150px auto;
  align-items: center;
}

.content.restaurant > .content-msg {
  text-align: left;
  padding: 1em;
}

.restaurant h2 {
  font-size: 1.2em;
  font-weight: bold;
}

.btn {
  padding: 0.5rem;
  font-size: 1em;
  border: none;
  border-radius: 0.25em;
}

.btn-primary {
  background-color: var(--bg-secondary);
  color: var(--color-primary);
}

.status-text {
  text-align: center;
  font-weight: 600;
  padding: 1em;
  color: var(--color-secondary);
}

.skip {
  color: currentColor;
  display: flex;
  justify-content: flex-end;
  padding: 1em 0;
}

.manual-selection {
  margin-top: 1em;
}

.manual-selection > label {
  display: flex;
  justify-content: center;
}

.search-form {
  display: grid;
  grid-template-columns: auto 4em;
}

.filter-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1em 0;
}

input[type="text"] {
  box-sizing: border-box;
  outline: none;
  font-size: 1em;
  border: none;
  border-radius: 0.25em;
  margin: 0 0.25em;
  padding: 0.5em;
  width: 100%;
}

input[name="filter"] {
  max-width: 250px;
}

.restaurant-item {
  margin: 0.5em 0;
  padding: 0.5em;
  max-height: 200px;
  border-radius: 0.25em;
}

.restaurant-item:nth-child(odd) {
  background: #e2e2e2;
}

.restaurant-item:nth-child(even) {
  background: #f5f5f5;
}
